.navbar {
    display: inline-flex;
    padding: 0;
    list-style: none;

    &__item {
        margin-right: 1rem;

        &__link {
            text-decoration: none;
            color: var(--text-secondary);



            &--active {
                color: var(--text-primary);
                text-decoration: underline;
                text-underline-offset: 0.25rem;
            }
        }

        &__breadcrumb {
            color: var(--main-color);
            position: relative;
            margin-right: 1.75rem;

            &::after {
                display: block;
                height: 5px;
                width: 5px;
                background: var(--text-muted);
                content: '';
                position: absolute;
                top: 50%;
                right: -0.95rem;
                transform: translateY(-50%);
                rotate: 45deg;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

