<ul class="navbar">
    <li class="navbar__item navbar__item__breadcrumb">
        Admin
    </li>
    <li class="navbar__item">
        <a
            class="navbar__item__link"
            routerLink="/home"
            routerLinkActive="navbar__item__link--active"
            ariaCurrentWhenActive="page"
        >
            Home
        </a>
    </li>
    <li class="navbar__item">
        <a
            class="navbar__item__link"
            routerLink="/portifolios"
            routerLinkActive="navbar__item__link--active"
            ariaCurrentWhenActive="page"
        >
            Portifolios
        </a>
    </li>
    <li class="navbar__item">
        <a
            class="navbar__item__link"
            routerLink="/projects"
            routerLinkActive="navbar__item__link--active"
            ariaCurrentWhenActive="page"
        >
            Projects
        </a>
    </li>
    <li class="navbar__item">
        <a
            class="navbar__item__link"
            routerLink="/tasks"
            routerLinkActive="navbar__item__link--active"
            ariaCurrentWhenActive="page"
        >
            Tasks
        </a>
    </li>
    <li class="navbar__item">
        <a
            class="navbar__item__link"
            routerLink="/knowledge"
            routerLinkActive="navbar__item__link--active"
            ariaCurrentWhenActive="page"
        >
            Knowledge
        </a>
    </li>
    <li class="navbar__item">
        <a
            class="navbar__item__link"
            routerLink="/coaching"
            routerLinkActive="navbar__item__link--active"
            ariaCurrentWhenActive="page"
        >
            Coaching
        </a>
    </li>
</ul>