
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$luxfacta-primary: mat.define-palette(mat.$indigo-palette);
$luxfacta-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$luxfacta-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$luxfacta-theme: mat.define-light-theme((
  color: (
    primary: $luxfacta-primary,
    accent: $luxfacta-accent,
    warn: $luxfacta-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($luxfacta-theme);

:root {
    --text-muted: #a1a1a1;
    --text-light: #fff;
    --text-primary: #131313;
    --text-secondary: #5c5c5c;
    --main-color: #ffbd07;
}

* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    box-sizing: border-box;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
}

.content-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--text-primary);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
